.centered {	margin: 0 auto; }

#wrapper{
	position: absolute;
	margin: 0 auto;
}

header {
}

#logo {
	width: 500px;
	height: 100px;
	padding: 5px;
	background-color: yellow;
}
#kwwlogo {
	float: left;
}
#kaslogo {
	margin-left: 10px;
	margin-top: 10px;
	color: lightskyblue;;
	float: left;
}

nav {
	clear: both;
}

#all_contents {
}
#form{
	float: left;
}
#contens {
	float: left;
}
#new_contents {
	clear: both;
}
#main_contents {
	border: 1px solid #dadada;
}
.box {
	margin: 5px;
	padding: 5px;
	background: #D8D5D2;
	float: left;
	width: 100px
}

footer {
	clear: both;
	width: 500px;
	height: 50px;
	background-color: yellow;
}
footer p {
	text-align: center;
}
