

#wrapper{
	margin: 0 auto;
}

header {
}

#kwwlogo {
	display: block;
	float: left;
}

#kaslogo {
	color: lightskyblue;
	display: block;
	float: left;
}

nav {
	clear: both;
	background-color: blue;
}

#all_contents {
	background-color: yellow;
}

aside {
	background-color: green;
}

#contens {
	background-color: red;
}

#new_contents {
	background-color: blue;
}

#main_contents {
	background-color: green;

footer {
	background-color: red;
}
