#wrapper {
  width: 1080px;
  margin: 0 auto;
}

#colum_3 {
  width: 1080px;
  background: blue;
}


.colum {
  float: left;
  width: 300px;
  height: 400px;
  margin: auto 10px;
  background: pink;
}

.colum img{
  display: block;
  width: 280px;
  height: 280px;
  margin: 0 auto;
  border-radius: 50%;
}

.colum h2{
  text-align: center;
}

.colum p{
  text-align: center;
}

footer {
  background: brown;
  clear: both;
}
